body {
	background-color: black;
	color: yellow;
	font-family: helvetica;
}



h3 {
	padding-top: 30px;
	text-align: center;
}

.right {
	padding-left: 50vw;
	padding-right: 5vw;
}

.left {
	padding-right: 50vw;
	padding-left: 5vw;
	text-align: right;
}