body {
	background-color: black;
	color: yellow;
}

.header {
	position: absolute;
	left: 48%;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	text-align: center;
	transform: translateX(-50%);
	z-index: 10;
}

.logo {
	flex:  none;
	color: yellow;
	width: 40%;
	font-family: helvetica;
	letter-spacing: -3.5px;
	display: inline-block;
}

.navigation {
	display: flex;
	color: yellow;
	font-family: helvetica;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: yellow;
	text-decoration: none;
}

.videocontainer {
	margin-top:  100px;
	height: 600px;
	white-space: nowrap;
	overflow-x: scroll;
}

.videoobject {
	margin: 2px;
	height: 100%;
	width: 600px;
	display:  inline-block;
	position: relative;
}

.vidoverlay {
	position: absolute;
	display: block;
	width: 400px;
  	transition: .5s ease;
  	opacity:0;
  	color: white;
  	font-size: 8%;
  	padding: 2%;
  	text-align: left;
  	transition: opacity .2s, visibility .2s;
  	font-family: helvetica;
}

.videoobject:hover .vidoverlay {
	visibility: visible;
  	opacity: 1;
}

video {
	height: 500;
	width: 500;
	display: block;
}

.bottom-nav {
	height: 1px;
	background-color: white;
	width: 90%;
	margin-left: 4%;
	position: absolute;
	bottom: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.bottom-nav a {
	color: white;
	background-color: white;
	height: 20px;
	width: 2px;
	text-indent: -9999px;
	position: relative;
	bottom: 8px;
}

.overflow-container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 40%;
	overflow-x: auto;
	overscroll-behavior-inline:  contain;
}


